@font-face {
    font-family: 'FIRSTGAYAMERICANS';
    src: url('/fonts/FIRSTGAYAMERICANS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* Download only latin glyphs */
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/fonts/Proxima-Nova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    unicode-range: U+000-5FF; /* Download only latin glyphs */
}

*::selection {
    background-color: $black;
    color: $mainBg;
}

*::-moz-selection {
    background-color: $black;
    color: $mainBg;
}

html {
    background: $mainBg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
}

body {
    font-family: 'FIRSTGAYAMERICANS', serif;
    margin: 0;
}

button {
    font-family: 'FIRSTGAYAMERICANS', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    display: block;
}