*::selection {
    background-color: $black;
    color: $mainBg;
}

*::-moz-selection {
    background-color: $black;
    color: $mainBg;
}

html {
    background: $mainBg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-optical-sizing: auto;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: column;
}

ul li {
    display: block;
}