// Sizes
$base: 8px;
$baseMaxWidth: $base * 120;
$baseMaxMobileWidth: $base * 50;

// Colors
$black: #000;
$white: #FFF;
$mainBg: #FFF;
// $primaryColor: #D7B4F3; // Saturated lavender
// $secondaryColor: lavender; // Light lavendar
$primaryColor: dimgrey; // Saturated lavender
$secondaryColor: lightgrey; // Light lavendar

$transGradientColorOne: rgba(215,152,166,1);
$transGradientColorTwo: #FFF;
$transGradientColorThree: rgba(103,186,208,1);

$transGradientOne: radial-gradient(circle at 20% 50%, $transGradientColorOne 0%, $transGradientColorThree 100%);
$transGradientTwo: radial-gradient(circle at 60% 70%, $transGradientColorOne 0%, $transGradientColorThree 100%);
$transGradientThree: radial-gradient(circle at 40% 50%, $transGradientColorOne 20%, $transGradientColorThree 100%);
$transGradientFour: radial-gradient(circle at 80% 20%, $transGradientColorOne 0%, $transGradientColorThree 100%);

$bipocGradientColorOne: rgba(13, 6, 2, 1);
$bipocGradientColorTwo: #FFF;
$bipocGradientColorThree: rgba(82, 43, 14, 1);

$bipocGradientOne: radial-gradient(circle at 20% 50%, $bipocGradientColorOne 0%, $bipocGradientColorThree 100%);
$bipocGradientTwo: radial-gradient(circle at 60% 70%, $bipocGradientColorOne 0%, $bipocGradientColorThree 100%);
$bipocGradientThree: radial-gradient(circle at 40% 50%, $bipocGradientColorOne 20%, $bipocGradientColorThree 100%);
$bipocGradientFour: radial-gradient(circle at 80% 20%, $bipocGradientColorOne 0%, $bipocGradientColorThree 100%);

$palGradientColorOne: rgba(74, 135, 52, 1);
$palGradientColorTwo: #FFF;
$palGradientColorThree: rgba(200, 55, 39, 1);

$palGradientOne: radial-gradient(circle at 20% 50%, $palGradientColorOne 0%, $palGradientColorThree 100%);
$palGradientTwo: radial-gradient(circle at 60% 70%, $palGradientColorOne 0%, $palGradientColorThree 100%);
$palGradientThree: radial-gradient(circle at 40% 50%, $palGradientColorOne 20%, $palGradientColorThree 100%);
$palGradientFour: radial-gradient(circle at 80% 20%, $palGradientColorOne 0%, $palGradientColorThree 100%);

// Mixins
/*
  Uses mobile-first approach.
  Phone @media rule: (max-width: 420px) and (max-height: 812px)
*/

@mixin screenSizes($size) {
    @if $size==tabletPortrait {
        @media (min-width: 491px) {
            @content;
        }
    }

    @else if $size==desktop {
        @media (min-width: 900px) {
            @content;
        }
    }

    @else if $size==largeDesktop {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin strokeText($color) {
    color: transparent;
    -webkit-text-stroke: 1px $color;
    font-weight: normal;
}